@import "lesshat";

.ba-slider {
    position: relative;
    overflow: hidden;
}

.ba-slider img {
    width: 100%;
    height: 100vh;
    display:block;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}

.columnSpace {
  float: left;
  width: 50%;
  height: 100vh;
}

.columnSpaceContainer {
  width: 100%;
  height: 100vh;
}

.resize {
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:2px;
  margin-left:-1px;

  background: rgba(0,0,0,1);
  cursor: ew-resize;
}


.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}
