@font-face {
     font-family: "Gotham-Bold";
     src: url("fonts/Gotham-Bold.otf");
}

@font-face {
     font-family: "Sans-Thin";
     src: url("fonts/Sans-Thin.otf");
}

@font-face {
     font-family: "Futura";
     src: url("fonts/futura-pt-light.otf");
}


// MQ trigger
@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
  }
}

// colors
$color: #8f8f8f;
$color2: #e8f380;

// Navigation
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: #000;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  @include small {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.logo {
  height: 40px;
  float: left;
  margin-top: -15px;
  @include small {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
  @include small {
    width: 100%;
  }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    @include small {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
    a {
      color: #888888;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }

  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: $color;
    display: block;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}


// Page Style
* {
  box-sizing: border-box;
}

body {
  color: $color;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: #333 url(res/branch_big.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: local;
  color: #fff;
  padding-top: 70px;
  min-height: 100vh;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;

  h2 {
    font-family: "Gotham-Bold", "Montserrat", sans-serif;
  }

  #bottomRight {
    bottom: 0;
    right: 0;
    text-align: right;
    position: absolute;
  }
}



@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
