@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@500;600&display=swap");
@font-face {
  font-family: "Gotham-Bold";
  src: url("fonts/Gotham-Bold.otf"); }
@font-face {
  font-family: "Sans-Thin";
  src: url("fonts/Sans-Thin.otf"); }
@font-face {
  font-family: "Futura";
  src: url("fonts/futura-pt-light.otf"); }
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background:linear-gradient(to bottom, #33ccff 44%, #ff99cc 66%);
;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 25px; } }

.open-nav {
  max-height: 400px !important; }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }

.logo {
  height: 40px;
  display: inline;
  float: left;
  margin-top: -5px; }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none; } }

nav {
  float: right;
  width: 80%;
  display: inline;
  padding-right: 30px; }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%; } }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right; }
    @media only screen and (max-width: 766px) {
      nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%; } }
    nav ul li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5; }
      @media only screen and (max-width: 766px) {
        nav ul li {
          width: 100%;
          padding: 7px 0;
          margin: 0; } }
    nav ul a {
      color: #ddd;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      transition: .3s; }
      nav ul a:hover {
        color: #ffd1dc;
        font-size: 15px;
        text-decoration: none; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block; } }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block; }

.row {
  display: inline;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%; }

* {
  box-sizing: border-box; }

body {
  color: #FFFFFF;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2; }

.content {
  padding: 50px 2% 250px; }

.hero {
  position: relative;
  background: #333 url(res/branch_big.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: local;
  color: #fff;
  padding-top: 70px;
  min-height: 100vh;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif; }
  .hero h2 {
    font-family: "Gotham-Bold", "Montserrat", sans-serif; }
  .hero #bottomRight {
    bottom: 0;
    right: 0;
    text-align: right;
    position: absolute; }

.scroll-text {
  height: 76.8px;
  overflow: hidden; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }

/*# sourceMappingURL=styles.css.map */
