@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@500;600&display=swap");
@font-face {
  font-family: "Gotham-Bold";
  src: url("fonts/Gotham-Bold.otf"); }
@font-face {
  font-family: "Sans-Thin";
  src: url("fonts/Sans-Thin.otf"); }
@font-face {
  font-family: "Futura";
  src: url("fonts/futura-pt-light.otf"); }
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: black;
  /*linear-gradient(to bottom, #0D1821 44%, #B4CDED 66%); old gradient, back is cleaner imo - josh*/
;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 25px; } }

.open-nav {
  max-height: 400px !important; }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }

.logo {
  height: 40px;
  display: inline;
  float: left;
  margin-top: -5px; }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none; } }

nav {
  float: right;
  width: 80%;
  display: inline;
  padding-right: 30px; }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%; } }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right; }
    @media only screen and (max-width: 766px) {
      nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%; } }
    nav ul li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5; }
      @media only screen and (max-width: 766px) {
        nav ul li {
          width: 100%;
          padding: 7px 0;
          margin: 0; } }
    nav ul a {
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      transition: .3s; }
      nav ul a:hover {
        color: #ffd1dc;
        font-size: 15px;
        text-decoration: none; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block; } }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block; }
    .text-center {
      text-align: center !important;
    }
    @media (min-width: 576px) {
      .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
      }

      .row-cols-sm-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .row-cols-sm-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .row-cols-sm-3 > * {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }

      .row-cols-sm-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
      }

      .row-cols-sm-5 > * {
        flex: 0 0 20%;
        max-width: 20%;
      }

      .row-cols-sm-6 > * {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
      }
      .btn-social {
        height: 2.5rem;
        width: 2.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 100%;
      }
      .mx-2 {
        margin-right: 0.5rem !important;
      }
      .mx-2 {
        margin-left: 0.5rem !important;
      }
    .col-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .col-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }

    .col-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }

    .col-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }

    .col-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }

    .col-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }

    .col-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }

    .col-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }

    .col-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }

    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .page-section {
      padding: 6rem 0;
    }
    .page-section h2.section-heading {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .page-section h3.section-subheading {
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
      font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 4rem;
    }
    .team-member {
      margin-bottom: 3rem;
      text-align: center;
    }
    .team-member img {
      width: 14rem;
      height: 14rem;
      border: 0.5rem solid rgba(0, 0, 0, 0.1);
    }
    .team-member h4 {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
    .bg-light {
      background-color: #070707 !important;
    }

    a.bg-light:hover, a.bg-light:focus,
    button.bg-light:hover,
    button.bg-light:focus {
      background-color: #dae0e5 !important;
    }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
* {
  box-sizing: border-box; }

body {
  //color: #8f8f8f;
  //background: white;
  color: white;
  background-image: radial-gradient(circle, #070707 0%, #070707 100%);
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
  }
a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2; }

.content {
  padding: 50px 2% 250px; }

.hero {
  position: relative;
  background: #333 url(res/branch_big.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: local;
<<<<<<< HEAD
<<<<<<< HEAD
  color: #FFFFFF;
=======
=======
>>>>>>> 3137fbe05e3d8f0ce8c66848913714aae94a4ff0
  body {
  animation: 10000ms ease-in-out infinite color-change;
}


<<<<<<< HEAD

>>>>>>> 362401d662a29cb198c7c00b361d9d098c08fc9b
=======



>>>>>>> 3137fbe05e3d8f0ce8c66848913714aae94a4ff0
  padding-top: 70px;
  min-height: 100vh;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif; }
  .hero h2 {
    font-family: "Gotham-Bold", "Montserrat", sans-serif; }
    h2, .h2 {
      font-size: 2rem;
    }
  .hero #bottomRight {
    bottom: 0;
    right: 0;
    text-align: right;
    position: absolute; }

.scroll-text {
  height: 76.8px;
  overflow: hidden; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }

/*# sourceMappingURL=styles.css.map */

/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 right: 0;
 background-color: #111; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s;
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
.dropbtn {
  background-color: #070707;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.container {
  min-width: 992px !important;
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:table-cell;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
