{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
    <div>
      <div class="column" style="margin-top: 70px">
        <a href="company.html">
          <img src="{% static 'homepage/css/res/home_page_left_v2.png' %}" alt="" style="width:100%; height:auto" >
        </a>
      </div>
      <div class="column" style="margin-top: 70px">
        <a href="influencer.html">
          <img src="{% static 'homepage/css/res/home_page_right_v2.png' %}" alt="" style="width:100%; height:auto">
        </a>
      </div>
    </div>

  <section class="page-section bg-light" id="team">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase" style="font-style:"Montserrat"" >Meet Our Team</h2>
              <h3 class="section-subheading text-muted">We are here to serve you, so always feel free to contact us on social media or using the Brancher contact form down below.</h3>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="{% static 'homepage/css/res/zaeem.png' %}" alt="" />
                      <h4>Zaeem Qureshi</h4>
                      <p class="text-muted">Chief Operations Offiicer</p>
                      <h3 class="section-subheading text-muted">Zaeem descriptiom</h3>

                      <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/lightningzaqueem/"><i class="fab fa-instagram"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/zaeem.kureshi.39"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="mailto:zaeem.kureshe11@gmail.com"><i class="fa fa-envelope"></i></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle " src="{% static 'homepage/css/res/rushilu.png' %}" alt="" />
                      <h4>Rushil Umaretiya</h4>
                      <p class="text-muted">Lead Developer</p>
                      <h3 class="section-subheading text-muted">The better rushil.</h3>
                      <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/rushilwiz/"><i class="fab fa-instagram"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/rushil.umaretiya.12"><i class="fab fa-facebook"></i></a><a class="btn btn-dark btn-social mx-2" href="mailto:rushilwiz@gmail.com"><i class="fa fa-envelope"></i></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="{% static 'homepage/css/res/rushil.png' %}" alt="" />
                      <h4>Rushil Sidhu</h4>
                      <p class="text-muted">Chief Executive Officer</p>
                      <h3 class="section-subheading text-muted">Rushil descriptiom</h3>
                      <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/rushil_sidhu/"><i class="fab fa-instagram"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/rushil.sidhu"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="mailto:rushilsidhu@gmail.com"><i class="fa fa-envelope"></i></a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="{% static 'homepage/css/res/taj.png' %}" alt="" />
                      <h4>Taj Abdin</h4>
                      <p class="text-muted">Lead Consultant</p>
                      <h3 class="section-subheading text-muted">Taj descriptiom</h3>
                      <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/tma_taj/"><i class="fab fa-instagram"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/taj.abdin.9"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="mailto:tajabdin123@gmail.com"><i class="fa fa-envelope"></i></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="{% static 'homepage/css/res/abrar.png' %}" alt="" />
                      <h4>Abrar Murtaza</h4>
                      <p class="text-muted">Lead Marketer</p>
                      <h3 class="section-subheading text-muted">Abrar descriptiom</h3>
                      <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/abrar.m123/"><i class="fab fa-instagram"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/abrar.murtaza.16"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="mailto:abrarmurtaza3@gmail.com"><i class="fa fa-envelope"></i></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'homepage/css/res/adnan.png' %}" alt="" />
                    <h4>Adnan Murtaza</h4>
                    <p class="text-muted">Lead Designer</p>
                    <h3 class="section-subheading text-muted">Adnan descriptiom</h3>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/adnanmurtaza1/"><i class="fab fa-instagram"></i></a><a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/adnan.murtaza.378"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="mailto:adnanamurtaza@gmail.com"><i class="fa fa-envelope"></i></a>
                  </div>
              </div>
          </div>
          <div class="text-center">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="about.html">Want To Learn More?</a>
          </div>
          <div class="row">
              <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
          </div>
      </div>
  </section>

  <section class="page-section" id="contactForm">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-muted">We would like to hear your feedback and questions!</h3>
      </div>
      <form action="https://formspree.io/xlepwbwz" method="POST">
        <div style="margin-left:60px">
          <label>
            <input type="text" name="_replyto" placeholder="Your Email *" style="width: 300px">
          </label>
        </div>
        <div class="row" style="margin-left:60px">
          <label>
            <textarea name="message" placeholder="Your Message *" style="width:1000px;height:150px"></textarea>
          </label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </section>

  <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-left">BrancherCo</div>
              <div class="col-lg-4 my-3 my-lg-0">
                  <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/brancher.co/">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.youtube.com/channel/UCdxzpAHn_Xd6IfaF-o55xBQ">
                    <i class="fab fa-youtube"></i>
                  </a>
                  <a class="btn btn-dark btn-social mx-2" href="mailto:BrancherCo@gmail.com">
                    <i class="fa fa-envelope"></i>
                  </a>
                  <a class="btn btn-dark btn-social mx-2" href="https://vm.tiktok.com/JdLtwpS/">
                    <span class="iconify" data-icon="simple-icons:tiktok" data-inline="false"></span>
                  </a>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.snapchat.com/add/brancher_co">
                    <i class="fab fa-snapchat-ghost"></i>
                  </a>
              </div>
              <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="privacy.html">Privacy Policy</a>
                <a class="mr-3" href="#!">Terms of Use</a>
                <a class="mr-3" href="https://icons8.com/icon/84521/tiktok">Credits</a>
              </div>
          </div>
      </div>
  </footer>
{% endblock content %}
